.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0;

  .heading-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .heading {
      margin-bottom: 0;
      margin-left: 10px;
    }
  }

  .nav-container {
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-top: 1px solid rgba(225, 225, 225, 0.05);
        display: flex;
        align-items: center;
        a,
        svg {
          color: #bdb8d7;
        }

        a {
          text-decoration: none;
          display: block;

          &:hover {
          }
        }

        svg {
          margin-right: 10px;
        }
      }
    }
  }
}
